* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 7px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 25px;
  position: absolute;
  bottom: 15px;
  left: 40px;
  opacity: 0;
}

.panel.active {
  flex: 4;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.3s;
}

.panel:not(.active):hover {
  transition: all 1s;
  transform: scale(1.01);
  box-shadow: 10px 10px 15px #888888;
}

/* test */
